<footer class="container-fluid">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-4 col-md-4">
        <h4>{{ .Site.Params.FullName }}</h4>
        <p>{{ .Site.Params.About }}</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <p>
          <img src="{{ .Site.Params.AvatarImage }}" alt="avatar" width="150" height="150" />
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <ul>
          {{ if .Site.Params.Resume }}
          <li>
            <span class="fa fa-file-o"></span> <a href="{{ .Site.Params.Resume }}">Resume</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Github }}
          <li>
            <span class="fa fa-github"></span> <a href="{{ .Site.Params.Github }}">Github</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Twitter }}
          <li>
            <span class="fa fa-twitter"></span> <a href="{{ .Site.Params.Twitter }}">Twitter</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Linkedin }}
          <li>
            <span class="fa-linkedin"></span> <a href="{{ .Site.Params.Linkedin }}">Linkedin</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Stackoverflow }}
          <li>
            <span class="fa fa-stack-overflow"></span> <a href="{{ .Site.Params.Stackoverflow }}">Stackoverflow</a>
          </li>
          {{ end }}
          {{ if .Site.Params.GooglePlus }}
          <li>
            <span class="fa fa-google-plus"></span> <a href="{{ .Site.Params.GooglePlus }}">Google+</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Facebook }}
          <li>
            <span class="fa fa-facebook"></span> <a href="{{ .Site.Params.Facebook }}">Facebook</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <hr />
  <div class="row-fluid copyright">{{ .Site.Params.FullName }} &copy; 2014</div>
</footer>

{{ partial "ga.html" . }} {{ partial "js.html" . }}
</body>

</html>
