<footer class="container-fluid">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-4 col-md-4">
        <h4>{{ .Site.Params.FullName }}</h4>
        <p>{{ .Site.Params.About }}</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <p>
          <img src="{{ .Site.Params.AvatarImage }}" alt="avatar" width="150" height="150" />
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <ul>
          {{ if .Site.Params.Resume }}
          <li>
            <a href="{{ .Site.Params.Resume }}"><span class="fa fa-file-o"></span>Resume</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Github }}
          <li>
            <a href="{{ .Site.Params.Github }}"><span class="fa fa-github"></span>Github</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Twitter }}
          <li>
            <a href="{{ .Site.Params.Twitter }}"><span class="fa fa-twitter"></span>Twitter</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Linkedin }}
          <li>
            <a href="{{ .Site.Params.Linkedin }}"><span class="fa fa-linkedin"></span>Linkedin</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Stackoverflow }}
          <li>
            <a href="{{ .Site.Params.Stackoverflow }}"><span class="fa fa-stack-overflow"></span>Stackoverflow</a>
          </li>
          {{ end }}
          {{ if .Site.Params.GooglePlus }}
          <li>
            <a href="{{ .Site.Params.GooglePlus }}"><span class="fa fa-google-plus"></span>Google+</a>
          </li>
          {{ end }}
          {{ if .Site.Params.Facebook }}
          <li>
            <a href="{{ .Site.Params.Facebook }}"><span class="fa fa-facebook"></span>Facebook</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <hr />
  <div class="row-fluid copyright">{{ .Site.Params.FullName }} &copy; 2014</div>
</footer>

{{ partial "ga.html" . }} {{ partial "js.html" . }}
</body>

</html>
