<footer class="container-fluid">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-4 col-md-4">
        <ul>
          <li>Resume</li>
          <li>Github</li>
          <li>Twitter</li>
          <li>Linkedin</li>
          <li>Stackoverflow</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4">
        <p>
          <img src="images/avatar.jpg" alt="avatar" width="150" height="150" />
        </p>
        <p>I am a pixel connoisseur who enjoys the finer details of a Bresenham line.
          When not staring at arrays of smoothly rendered pixels I enjoy playing
          guitar and consuming coffee.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        {{ partial "related.html" }} {{ partial "recent.html" }}
      </div>
    </div>
  </div>
  <div class="row-fluid">&copy; 2014 {{ .Site.Params.FullName }}</div>
</footer>

{{ partial "ga.html" . }} {{ partial "js.html" . }}
</body>

</html>
