{{ partial "header.html" . }}

<i>SOD SECTION</i>
<h1>{{ .Params.image_name }}</h1>
<article>
    <h1>{{ .Title }} - <i>{{ .Date.Format "Jan 2, 2006" }}</i></h1>
    <p>{{ .Content }}</p>
</article>


{{ if .Next }}
<h2>{{ .Next }}</h2>
<a href={{ .Next.Permalink }}>
{{ end }}
  <img src="{{ .Params.image_name }}" />
{{ if .Next }}
</a>
{{ end }}

{{ if .Next }}
<a href={{ .Next.Permalink }}>Next</a>
{{ end }}

{{ if .Prev }}
<a href={{ .Prev.Permalink }}>Previous</a>
{{ end }}

{{ partial "footer.html" . }}
